<div class="form">
<H1>Stupid Coaching</H1>
<H4>What would you like to ask the coach?</H4>
<form action="/answer" data-turbo="false">
  <input type="text" name="question" id="user_input">
  <input type="submit" value="Ask!">
</form>
</div>
